
<body style="font-family: Arial, sans-serif;">

    <table style="width: 100%; border-collapse: collapse; border: 0; border-spacing: 0; background: #ffffff;"
        role="presentation">
        <tbody>
            <tr>
                <td style="padding: 0;" align="center">
                    <table
                        style="width: 602px; border-collapse: collapse; border: 1px solid #cccccc; border-spacing: 0; text-align: left;"
                        role="presentation">
                        <tbody>
                            <tr>
                                <td style="padding: 40px 0 30px 0; background: #C4589C;" align="center">
                                    <h1 style="font-family: Arial, sans-serif; color: #ffffff;">Sistema Anticipado de
                                        Inscripción y Distribución (SAID)</h1>
                                    <h4 style="font-family: Arial, sans-serif; color: #ffffff;">Ciclo Escolar 2022 -
                                        2023</h4>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 36px 30px 42px 30px;">
                                    <table style="width: 100%; border-collapse: collapse; border: 0; border-spacing: 0;"
                                        role="presentation">
                                        <tbody>
                                            <tr style="border-bottom: 0; background: #eee; border-radius: 10px;">
                                                <td style="padding: 36px 36px 36px 36px; color: #153643;">
                                                    <h3
                                                        style="font-size: 24px; margin: 0 0 20px 0; font-family: Arial, sans-serif;">
                                                        ¿No realizaste tu tr&aacute;mite de preinscripción (SAID) para el siguiente ciclo escolar?</h3>
                                                    <div
                                                        style="margin: 0 0 12px 0; font-size: 16px; line-height: 24px; font-family: Arial, sans-serif;">

                                                        <p>Próximamente se abrirán nuevas
                                                            fechas de registro. Est&eacute; al pendiente de los comunicados oficiales.</p>

                                                        <p>¡No te quedes fuera y participa!</p>
                                                        <p>Te esperamos</p>
                                                    </div>
                                                    <p
                                                        style="margin: 0; font-size: 16px; line-height: 24px; font-family: Arial, sans-serif;">
                                                        <a style="color: #fff; background-color: #0d6efd; border-color: #0d6efd; padding: 0.5rem 1rem; font-size: 1.25rem; border-radius: 0.3rem; transition: none;"
                                                            href="https://www.edomex.gob.mx/">Consultar comunicados oficiales</a>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 160px 36px 40px 36px">
                                                    <table
                                                        style="width: 100%; border-collapse: collapse; border: 0; border-spacing: 0;"
                                                        role="presentation">
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="width: 260px; padding: 0; vertical-align: top; color: #153643;">
                                                                    <p
                                                                        style="margin: 0 0 12px 0; font-size: 14px; line-height: 24px; font-family: Arial, sans-serif;">
                                                                        <i>¿Cuál es el enlace para realizar el registro
                                                                            y participar en SAID?</i>
                                                                    </p>
                                                                    <p
                                                                        style="margin: 0; font-size: 14px; line-height: 24px; font-family: Arial, sans-serif;">
                                                                        <a style="color: #ee4c50; text-decoration: underline;"
                                                                            href="https://preinscripcionesmige.edomex.gob.mx/preinscripciones/calendario-captacion">Clic
                                                                            aqu&iacute;</a>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 30px; background: #6B686C;">
                                    <table
                                        style="width: 100%; border-collapse: collapse; border: 0; border-spacing: 0; font-size: 9px; font-family: Arial, sans-serif;"
                                        role="presentation">
                                        <tbody>
                                            <tr style="font-size: 12px; color: white;">
                                                <td colspan="2">
                                                    <p>* Este correo es de generación automática, no
                                                        requiere respuesta.</p>
                                                    <p>** Este correo electrónico puede contener
                                                        información privilegiada. Si usted no es su
                                                        destinatario(a) o no está autorizado(a) para recibir
                                                        correos electrónicos del remitente, NO deberá utilizar,
                                                        copiar, revelar o tomar ninguna acción basada en este
                                                        correo o cualquier otra información incluida en él; favor
                                                        de notificar al remitente de inmediato mediante el reenvio
                                                        del mismo y a continuación borrarlo totalmente al igual
                                                        que sus anexos.</p>
                                                    <p>*** Este correo tienen una viegencia máxima al Martes, 31 de Mayo del 2022.</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>

