
<!DOCTYPE html>
<html>

<body style="font-family: Arial, sans-serif;">

	<table
		style="width: 100%; border-collapse: collapse; border: 0; border-spacing: 0; background: #ffffff;"
		role="presentation">
		<tbody>
			<tr>
				<td style="padding: 0;" align="center">
					<table
						style="width: 602px; border-collapse: collapse; border: 1px solid #cccccc; border-spacing: 0; text-align: left;"
						role="presentation">
						<tbody>
							<tr>
								<td style="padding: 40px 0 30px 0; background: #772780;"
									align="center">
									<h2 style="font-family: Arial, sans-serif; color: #ffffff;">Concurso
										de Asignación a la Educación Media Superior, para los 103
										municipios</h2>
								</td>
							</tr>
							<tr>
								<td style="padding: 36px 30px 42px 30px;">
									<table
										style="width: 100%; border-collapse: collapse; border: 0; border-spacing: 0;"
										role="presentation">
										<tbody>
											<tr
												style="border-bottom: 0; background: #eee; border-radius: 10px;">
												<td style="padding: 36px 36px 36px 36px; color: #153643;">
													<h1
														style="font-size: 24px; margin: 0 0 20px 0; font-family: Arial, sans-serif;">
														&iexcl;Estimado aspirante!</h1>
													<p
														style="margin: 0 0 12px 0; font-size: 16px; line-height: 24px; font-family: Arial, sans-serif;">_REPLACE_MSG_INFORMATIVO_</p>
													<p
														style="margin: 0; font-size: 16px; line-height: 24px; font-family: Arial, sans-serif;">
														<a
															style="color: #fff; background-color: #0d6efd; border-color: #0d6efd; padding: 0.5rem 1rem; font-size: 1.25rem; border-radius: 0.3rem; transition: none;"
															href="_REPLACE_URL_REDIRECT_">Presiona para revisar</a>
													</p>
												</td>
											</tr>
											<tr>
												<td style="padding: 160px 36px 40px 36px">
													<table
														style="width: 100%; border-collapse: collapse; border: 0; border-spacing: 0;"
														role="presentation">
														<tbody>
															<tr>
																<td
																	style="width: 260px; padding: 0; vertical-align: top; color: #153643;">
																	<p
																		style="margin: 0 0 12px 0; font-size: 14px; line-height: 24px; font-family: Arial, sans-serif;">
																		<i>Mantente actualizado sobre cómo va tu trámite,
																			durante el concurso.</i>
																	</p>
																	<p
																		style="margin: 0; font-size: 14px; line-height: 24px; font-family: Arial, sans-serif;">
																		<a style="color: #ee4c50; text-decoration: underline;"
																			href="http://ingresoms.edu-edomex.gob.mx/tramite/localizar">Revisar
																			Kardex de registro</a>
																	</p>
																</td>
																<td
																	style="width: 20px; padding: 0; font-size: 0; line-height: 0;">
																</td>
																<td
																	style="width: 260px; padding: 0; vertical-align: top; color: #153643;">
																	<p
																		style="margin: 0 0 12px 0; font-size: 14px; line-height: 24px; font-family: Arial, sans-serif;">
																		<i>Consulta y descarga tu comprobante de registro</i>
																	</p>
																	<p
																		style="margin: 0; font-size: 14px; line-height: 24px; font-family: Arial, sans-serif;">
																		<a style="color: #ee4c50; text-decoration: underline;"
																			href="http://ingresoms.edu-edomex.gob.mx/tramite/localizar">Descargar
																			formato de registro</a>
																	</p>
																</td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td style="padding: 30px; background: #aa7ea2;">
									<table
										style="width: 100%; border-collapse: collapse; border: 0; border-spacing: 0; font-size: 9px; font-family: Arial, sans-serif;"
										role="presentation">
										<tbody>
											<tr>
												<td style="padding: 0; width: 50%;" align="left">
													<p
														style="margin: 0; font-size: 14px; line-height: 16px; font-family: Arial, sans-serif; color: #ffffff;">
														<a style="color: #ffffff; text-decoration: underline;"
															href="http://ingresoms.edu-edomex.gob.mx">Visita
															nuestro sitio oficial</a>
													</p>
												</td>
												<td style="padding: 0; width: 50%;" align="right">
													<table
														style="border-collapse: collapse; border: 0; border-spacing: 0;"
														role="presentation">
														<tbody>
															<tr>
																<td style="padding: 0 0 0 10px; width: 38px;"><a
																	style="color: #ffffff;"
																	href="https://twitter.com/dgemsedomex?lang=en"><img
																		style="height: auto; display: block; border: 0;"
																		src="http://ingresoms.edu-edomex.gob.mx/assets/layout/images/landing/icon-twitter.svg"
																		alt="Twitter" width="38" /></a></td>
																<td style="padding: 0 0 0 10px; width: 10px;"><a
																	style="color: #ffffff;"
																	href="https://m.facebook.com/DGEMSedomex/"><img
																		style="height: 10px; display: block; border: 0;"
																		src="http://ingresoms.edu-edomex.gob.mx/assets/layout/images/landing/icon-facebook.svg"
																		alt="Facebook" width="38" /></a></td>
															</tr>
														</tbody>
													</table>
												</td>
											</tr>
											<tr style="font-size: 12px; color: white;">
												<td colspan="2">
													<p>* Este correo es de generación automática, no
														requiere respuesta.</p>
													<p>** Este correo electrónico puede contener
														información privilegiada. Si usted no es su
														destinatario(a) o no está autorizado(a) para recibir
														correos electrónicos del remitente, NO deberá utilizar,
														copiar, revelar o tomar ninguna acción basada en este
														correo o cualquier otra información incluida en él; favor
														de notificar al remitente de inmediato mediante el reenvio
														del mismo y a continuación borrarlo totalmente al igual
														que sus anexos.</p>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

</body>

</html>